/*VARIABLES*/
/*MIXINS*/
/*GENERAL*/
body {
  font-family: "Roboto", sans-serif;
  margin: auto;
  max-width: 90%;
}

/* HEADER */
.header {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.header__logo {
  left: 60px;
}
.header__barre {
  width: 400px;
  height: 45px;
  border: 2px solid grey;
  border-radius: 40px;
  background-color: #eaeaea;
  text-align: center;
  font-weight: bold;
}
.header__banniere {
  background-image: url("/Users/stagiaire/Documents/Sites/OhMyFood/images/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  border-radius: 50px;
  background-size: 100% auto;
  object-fit: cover;
  height: 650px;
}
.header__banniere--enchantee {
  background-image: url("/Users/stagiaire/Documents/Sites/OhMyFood/images/stil-u2Lp8tXIcjw-unsplash.jpg");
}
.header__banniere--delice {
  background-image: url("/Users/stagiaire/Documents/Sites/OhMyFood/images/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}
.header__banniere--palette {
  background-image: url("/Users/stagiaire/Documents/Sites/OhMyFood/images/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}
.header a {
  margin-top: -50px;
}

.fa-location-dot {
  position: relative;
  right: 300px;
}

/*DESCRIPTION*/
.description {
  background-color: #f6f6f6;
  text-align: center;
  margin-top: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.description__title {
  font-size: 2em;
  font-weight: bold;
}
.description__text {
  font-size: 1.5em;
}
.description__text--button {
  height: 70px;
  width: 300px;
  background: linear-gradient(50deg, #e571da, #a15adc);
  color: white;
  border: none;
  border-radius: 50px;
  padding: 10px 20px 10px 20px;
  cursor: pointer;
}
.description__text--button:hover {
  background: #e987e0;
}
.description__explorer--menu {
  text-align: center;
  margin-top: 50px;
  padding-bottom: 50px;
}

/*SECTION FONCTIONNEMENT*/
.fonctionnement {
  padding-bottom: 50px;
}
.fonctionnement__title {
  font-size: 2em;
  font-weight: bold;
  padding-left: 30px;
}
.fonctionnement__menu {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.explications {
  text-align: center;
  margin-top: 20px;
  display: flex;
  background-color: #f6f6f6;
  width: 400px;
  height: 75px;
  border-radius: 25px;
  transition: background-color 1s;
}
.explications--degustez {
  background-color: #f5edff;
}
.explications__numero {
  color: white;
  background-color: #a15adc;
  border-radius: 50px;
  width: 30px;
  height: 25px;
  margin-top: 22px;
  margin-left: -15px;
  padding-top: 5px;
}
.explications__logo {
  margin-top: 25px;
  padding-left: 25px;
  color: grey;
}
.explications__logo--degustez {
  color: #a15adc;
}
.explications__text {
  font-size: 1.2em;
  font-weight: bold;
  margin-left: 25px;
  margin-top: 25px;
}

.fa-store, .fa-mobile-screen-button, .fa-list {
  font-size: 1.5em;
}

/*SECTION RESTAURANTS*/
.restaurants {
  background-color: #f6f6f6;
  padding-top: 50px;
  padding-bottom: 100px;
}
.restaurants a {
  text-decoration: none;
  color: black;
}
.restaurants__title {
  font-size: 2em;
  font-weight: bold;
  padding-left: 30px;
  padding-bottom: 15px;
}
.restaurants__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.choix {
  width: 400px;
  background-color: white;
  border-radius: 20px;
}
.choix__img img {
  object-fit: cover;
  width: 100%;
  height: 200px;
  border-radius: 20px 20px 0px 0px;
}
.choix__legende {
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 25px;
}

.text__titre {
  font-weight: bold;
}
.text__place {
  margin-top: -15px;
}

.heart {
  font-size: 2em;
  cursor: pointer;
  padding-top: 15px;
}
.heart:hover {
  display: none;
}
.heart:hover + .heart__degrade {
  padding-top: 15px;
  display: block;
}
.heart:hover + .heart__degrade .fa-heart {
  font-size: 2em;
  color: #a15adc;
}

.fa-heart {
  color: black;
}

.heart__degrade {
  display: none;
}

@keyframes heart {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.nouveau {
  margin-top: -250px;
  margin-left: 300px;
  background-color: #99e2d0;
  position: absolute;
  padding: 5px 10px 5px 10px;
  font-weight: bold;
  color: #008766;
}

/*FOOTER*/
footer {
  background-color: #353535;
  border-radius: 0px 0px 50px 50px;
  height: auto;
  padding-bottom: 10px;
}

.classfooter {
  color: white;
  padding-left: 30px;
}
.classfooter__logo {
  padding-top: 20px;
  padding-left: 30px;
}
.classfooter__logo img {
  width: 150px;
  height: 25px;
  filter: invert(100%);
}
.classfooter__list {
  list-style-type: none;
}
.classfooter__list__li {
  display: flex;
  justify-content: flex-start;
}
.classfooter__list__li a {
  text-decoration: none;
  color: white;
}
.classfooter__list__li--logo {
  margin-bottom: -15px;
  padding-top: -15px;
}
.classfooter__list__li--utensils {
  margin-bottom: -30px;
  padding-top: -15px;
}

.fa-handshake-angle, .fa-utensils {
  position: relative;
  padding-top: 17px;
  padding-right: 10px;
}

/* PAGE MENU */
.menu {
  background-color: #f6f6f6;
  padding-top: 20px;
}
.menu__title {
  padding-top: 25px;
  padding-left: 15px;
  font-size: 1.5em;
  text-align: center;
}
.menu__choix {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 90%;
  margin-left: 60px;
}

.soulignement {
  border-bottom: 8px solid #99e2d0;
}

.plat {
  animation-duration: 3s;
  animation-name: fadeInFromNone;
  animation-fill-mode: forwards;
  animation-delay: 0s;
  background-color: white;
  border-radius: 20px;
  width: 440px;
  max-height: 250px;
  padding-left: 15px;
  padding-right: 25px;
  cursor: pointer;
}
.plat__deux {
  visibility: hidden;
  animation-delay: 0.5s;
}
.plat__trois {
  visibility: hidden;
  animation-delay: 1s;
}
.plat__quatre {
  visibility: hidden;
  animation-delay: 1.5s;
}
.plat__title {
  font-weight: bold;
  padding-bottom: 15px;
  padding-top: 10px;
  text-overflow: ellipsis;
}
.plat:hover {
  width: 300px;
  border-radius: 20px 0px 0px 20px;
  margin-right: 0px;
  transition: 0.5s;
}
.plat__descriptif {
  display: flex;
  justify-content: space-between;
  margin-top: -15px;
  overflow: hidden;
}
.plat__descriptif__precisions p {
  text-overflow: ellipsis;
  overflow: hidden;
}
.plat__descriptif__tarif {
  font-weight: bold;
}

.contain {
  width: 440px;
  height: 100px;
  border-radius: 20px;
  background-color: #99e2d0;
  animation-duration: 3s;
  animation-name: fadeInFromNone;
  animation-fill-mode: forwards;
}
.contain:hover + .check {
  visibility: visible;
  transition: 0.5s;
  margin-left: -140px;
  display: block;
  text-align: left;
  margin-top: 30px;
}
.contain:hover + .check .fa-circle-check {
  animation: rotate 0.5s;
}

.check {
  margin-left: -50px;
  margin-top: 30px;
  visibility: hidden;
  font-size: 2em;
  position: relative;
  text-align: right;
}

.fa-circle-check {
  color: white;
}

@keyframes fadeInFromNone {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
.intitule {
  background-color: #f6f6f6;
  display: flex;
  justify-content: flex-start;
  margin-top: 550px;
  border-radius: 80px 80px 0px 0px;
}
.intitule__nom {
  font-size: 2em;
  font-weight: bold;
  font-family: "Shrikhand", cursive;
  margin-left: 25%;
}
.intitule__nom--long {
  margin-left: 35px;
}
.intitule__heart {
  margin-left: 30%;
}
.intitule__heart--long {
  margin-left: 15%;
}

.fa-heart--menu {
  font-size: 2em;
  padding-top: 30px;
}

.fa-arrow-left {
  font-size: 4em;
  color: black;
  position: relative;
  top: 70px;
  right: 40%;
}

.loader {
  text-align: center;
  width: 90%;
  height: 100%;
  background-color: white;
  position: absolute;
  animation: charging 6s;
  animation-fill-mode: forwards;
  z-index: inherit;
}
.loader__icon {
  position: relative;
  margin-left: 50%;
  top: 280px;
  width: 100px;
  height: 100px;
  border: 20px solid #CCCCCC;
  border-top: 20px solid #a15adc;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes charging {
  0% {
    opacity: 1;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
/*MIXINS*/
@media screen and (max-width: 1024px) {
  body {
    max-width: 100%;
  }

  .header__logo {
    padding-top: 35px;
    padding-bottom: 25px;
  }
  .header__barre {
    margin-top: 15px;
    width: 100%;
    height: 150px;
    border: none;
    font-size: 3em;
    border-radius: 0px;
    margin-bottom: -50px;
  }

  .fa-arrow-left {
    top: 100px;
  }

  .fa-location-dot {
    font-size: 3em;
    top: -55px;
  }

  .description {
    background-color: #f6f6f6;
    text-align: center;
    margin-top: -20px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .description__title {
    font-size: 3.5em;
  }
  .description__text {
    font-size: 2em;
  }
  .description__text--button {
    margin-top: 50px;
    margin-bottom: 100px;
    height: 125px;
    width: 550px;
    font-size: 2.5em;
    background: linear-gradient(50deg, #e571da, #a15adc);
    color: white;
    border: none;
    border-radius: 75px;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
  }
  .description__explorer--menu {
    text-align: center;
    padding-bottom: 150px;
    padding-top: 50px;
  }

  .fonctionnement {
    margin-bottom: 100px;
  }
  .fonctionnement__title {
    padding-top: 75px;
    font-size: 3.5em;
  }
  .fonctionnement__menu {
    flex-direction: column;
    align-items: center;
    margin-left: 15px;
  }

  .explications {
    width: 90%;
  }

  .restaurants {
    padding-bottom: 150px;
  }
  .restaurants__title {
    font-size: 3.5em;
    margin-top: 70px;
  }
  .restaurants__list {
    flex-direction: column;
    align-items: center;
  }

  .choix {
    font-size: 2.8em;
    width: 90%;
    height: 700px;
    border-radius: 0px 0px 50px 50px;
  }
  .choix img {
    height: 500px;
    border-radius: 50px 50px 0px 0px;
  }

  .text {
    padding-left: 15px;
  }
  .text__titre {
    font-weight: bold;
  }
  .text__place {
    margin-top: -35px;
  }

  .heart {
    padding-top: 35px;
    margin-right: 35px;
  }
  .heart:hover {
    display: none;
  }
  .heart:hover + .heart__degrade {
    padding-top: 50px;
    margin-right: 35px;
    font-size: 0.8em;
    display: block;
  }
  .heart:hover + .heart__degrade .fa-heart {
    animation-duration: 1s;
    font-size: 2em;
    color: #a15adc;
  }

  .fa-heart {
    font-size: 0.8em;
  }

  /* FONCTIONNEMENT */
  .explications {
    font-size: 2.2em;
    height: 220px;
    border-radius: 75px;
  }
  .explications__numero {
    width: 65px;
    height: 60px;
    margin-top: 70px;
    padding-top: 15px;
  }
  .explications__logo {
    margin-top: 80px;
    margin-left: 30px;
  }
  .explications__text {
    margin-top: 80px;
    margin-left: 45px;
    font-weight: bold;
  }

  footer {
    border-radius: 0px;
  }

  .classfooter {
    font-size: 2.8em;
  }
  .classfooter img {
    padding-top: 40px;
    width: 320px;
    height: 50px;
  }
  .classfooter__list {
    padding-bottom: 50px;
  }
  .classfooter__list__li--logo {
    margin-bottom: -30px;
  }
  .classfooter__list__li--utensils {
    margin-bottom: -75px;
  }

  .nouveau {
    margin-top: -680px;
    margin-left: 650px;
    font-size: 0.8em;
    padding: 15px 25px 15px 25px;
  }

  .fa-handshake-angle, .fa-utensils {
    position: relative;
    padding-top: 40px;
    padding-right: 25px;
  }

  /* PAGE MENU */
  .intitule {
    font-size: 2.5em;
  }
  .intitule__nom {
    margin-left: 25px;
  }

  .fa-heart--menu {
    margin-top: 55px;
    font-size: 2em;
    margin-left: -50px;
  }

  .menu {
    border-radius: 75px 75px 0px 0px;
    margin-top: 40px;
  }
  .menu__title {
    font-size: 3em;
    padding-left: 40px;
    padding-top: 50px;
    margin-bottom: -35px;
    text-align: left;
    text-overflow: ellipsis;
  }
  .menu__title--soulignement {
    border-bottom: 2px solid #f5edff;
  }
  .menu__choix {
    padding-left: 0px;
  }

  .plat {
    width: 96%;
    font-size: 3em;
  }
  .plat p {
    text-overflow: ellipsis;
  }
  .plat:hover {
    width: 75%;
  }
  .plat__descriptif {
    margin-top: -50px;
  }
  .plat__descriptif p {
    text-overflow: ellipsis;
  }
  .plat__descriptif__precisions {
    max-width: 70%;
  }
  .plat__descriptif__precisions p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .contain {
    width: 95%;
    height: 230px;
    margin-top: 50px;
  }
  .contain:hover + .check {
    visibility: visible;
    transition: 0.5s;
    margin-right: 110px;
    display: block;
    text-align: left;
    margin-top: 120px;
  }
  .contain:hover + .check .fa-circle-check {
    animation: rotate 0.5s;
  }

  .check {
    margin-top: 120px;
    visibility: hidden;
    font-size: 4em;
    margin-right: 0px;
  }
}
.loader {
  width: 100%;
}
.loader__icon {
  margin-left: 42%;
  top: 40%;
}

/*# sourceMappingURL=style.css.map */
